@font-face{
    font-family: "League";
    src: url(../fuentes/LeagueGothic-Regular.otf)
}



header{
    position: relative;
    top:0%;
    width: 100%;
    background-image: url("img/fondo1f.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

a,p,form{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: large;
    color: #000000;
    text-align: justify;
    display: inline-block;
    padding-top: 0%;
   }
#Buscador{
	height: 15%;
}
#Ofertas{
	width: 100%;
	border-style:  solid;
}
.articulo{
	height: 15%;
}
.img_articulo{
	width: 15%;
	float: left;
}
.nombre_articulo{
	display: inline-block;
	float:left;
	margin-left: 2px;	
}
.enlaces{
	float:left;
}

